@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="py-3 text-center">
        <h2>Author's List</h2>
        <p class="lead">A CRUD made with ASP.NET Core, Bootstrap and gRPC</p>
    </div>

    <button type="button" class="btn btn-info" id="btnAddNewAuthor">New Author</button><br /><br />
    <table class="table table-bordered table-striped table-hover" id="tblAuthors">
        <thead>
            <tr>
                <th>ID </th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>
<div id="authorModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="authorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Author</h4>
                <button type="button" class="close btnCloseModal" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group add_hide_id">
                        <label for="Id">ID</label>
                        <input type="text" class="form-control" id="Id" placeholder="id" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSubmitForm">Submit</button>
                <button type="button" class="btn btn-default btnCloseModal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>